[user]
	name = John Shimek
	email = jshimek@code42.com

[diff]
    color = auto

[pager]
    color = true

[status]
    color = auto

[difftool]
    prompt = false

[alias]
    g = log --graph --all --pretty=format:'%Cgreen[%h]%Creset %C(yellow)%d%Creset %Cblue%ad by %an%Creset: %s' --date=local
[core]
	excludesfile = /Users/jshimek/.gitignore_global
[push]
	default = upstream
