[user]
	name = John Shimek
	email = jshimek@code42.com

[diff]
    color = auto

[pager]
    color = true

[status]
    color = auto

[difftool]
    prompt = false

[alias]
    g = log --graph --pretty=format:'%Cgreen[%h]%Creset %C(white)%d%Creset %Cblue%ad by %an%Creset: %s' --date=relative
    l = log --pretty=format:'%Cgreen[%H]%Creset %C(white)%d%Creset %Cblue%ad by %an%Creset: %s' --date=relative
	track = "!f() { ([ $# -eq 2 ] && ( echo \"Setting tracking for branch \" $1 \" -> \" $2;git branch --set-upstream $1 $2; ) || ( git for-each-ref --format=\"local: %(refname:short) <--sync--> remote: %(upstream:short)\" refs/heads && echo --Remotes && git remote -v)); }; f"
[core]
	excludesfile = /Users/jshimek/.gitignore_global
[push]
	default = upstream
