Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
code/
.adobe/
.android/
.bash_history
.cups/
.dropbox/
.eclipse_dictionary
.smb/
.ssh/
.subversion/
.viminfo
.zshhistory
.zcompdump
.gdb_history
