# Auto setup zcomet to manage plugins
if [[ ! -f ${ZDOTDIR}/.zcomet/bin/zcomet.zsh ]]; then
  git clone https://github.com/agkozak/zcomet.git ${ZDOTDIR}/.zcomet/bin
fi
source ${ZDOTDIR}/.zcomet/bin/zcomet.zsh

setopt HIST_SAVE_NO_DUPS  # Do not add duplicate events to history file
setopt extendedglob
unsetopt autocd           # Do not auto cd into directories by name
unsetopt beep             # No beeping

_add_path() {
  local location="$1"
  if [[ -d "$location/bin" ]]; then
    path+="$location/bin"
  fi
}

_add_path "$HOME/.cargo"
_add_path "$HOME/.local"
export PATH

# Tools
if [[ -d /opt/homebrew ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi
eval "$(fzf --zsh)"
eval "$(direnv hook zsh)"
eval "$(zoxide init zsh)"
eval "$(mise activate zsh)"

zcomet snippet $ZDOTDIR/completion.zsh
zcomet snippet $ZDOTDIR/bindings.zsh
zcomet snippet $ZDOTDIR/aliases.zsh

if [[ -f "$ZDOTDIR/work.zsh" ]]; then
  zcomet snippet $ZDOTDIR/work.zsh
fi

zcomet load romkatv/powerlevel10k
[[ ! -f $ZDOTDIR/.p10k.zsh ]] || zcomet snippet $ZDOTDIR/.p10k.zsh

zcomet load zsh-users/zsh-syntax-highlighting
zcomet load zsh-users/zsh-autosuggestions

zcomet compinit


